streamlit==1.13.0
streamlit-on-Hover-tabs==1.0.1
streamlit-option-menu==0.3.2
streamlit_nested_layout==0.1.1
streamlit-server-state==0.14.2
streamlit-tensorboard==0.0.2
hydralit==1.0.14
hydralit_components==1.0.10
nlu
pyspark==3.0.2
sklearn
plotly